link(href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet")
.author 
    p Original Design by
        a(href="https://dribbble.com/sandor")  Sandor
.clock
    .shadow
    .center
    canvas#inner-glaze-top(height="400px" width="400px")
    .glaze-corner.one
    .glaze-corner.two
    .glaze-corner.three
    .glaze-corner.four
    .inner-decoration
    .second-hand
    .minute-hand
    .hour-hand
    .top-button
    .inner-top-button
    .change-time.top
    .set-timer.top
    .leg.left
    .leg.right
    .line-bottom
    .line-middle
    .bottom-shadow
    .x.red.first
    .x.red.second
    .x.red.third
    .x.red.fourth
    .x.grey.fifth
    .x.lightgrey.sixth
    .x.lightlightgrey.seventh
    .x.lightlightgrey.eighth
    .circle.red-border.ninth
    .circle.lightgrey-border.tenth
    .circle.grey-border.eleventh
    .circle.lightgrey-border.twelth
    .circle.grey-border.thirteenth